@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic");
/*

    Nothing is Responsive. Will be in a few versions!

*/
:root {
  --iconBg: #ececec;
  --iconBorder: rgba(0, 0, 0, 0.226);
}

.closure {
  position: absolute;
  min-height: 400%;
  width: 100%;
  border: solid orange;
  background-color: #0000008f;
  z-index: 3;
  pointer-events: none;
  display: none;
  transition: background 0.4s;
}

input#menu {
  display: none;
}

.icon {
  height: 24px;
  width: 24px;
  padding: 16px;
  margin-left: 2px;
  background: #FFF;
  display: block;
  cursor: pointer;
}

label.icon {
  position: fixed;
  z-index: 200;
}

.icon .menu,
.icon .menu::before,
.icon .menu::after {
  content: "";
  height: 2px;
  width: 20px;
  background: #9FB1BD;
  display: block;
  position: absolute;
  transition: background ease 0.3s, top ease 0.3s 0.3s, transform ease 0.3s;
}

#menu:checked + .icon .menu::after {
  transform: rotate(-45deg);
}

#menu:checked + .icon .menu::before,
#menu:checked + .icon .menu::after {
  top: 0;
  transition: top ease 0.3s, transform ease 0.3s 0.3s;
}

nav {
  height: 100vh;
  width: 4.166vw;
  /*60px*/
  /* 3.75rem*/
  min-width: 3.75rem;
  background-color: #FFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding-top: 60px;
  position: fixed;
  transition: all ease 0.6s;
  z-index: 100;
  overflow: hidden;
}

main {
  width: 95.834vw;
  transition: width ease 0.6s;
}

#menu:checked ~ nav {
  width: 12.5rem;
  /*200px*/
}

#menu:checked ~ main {
  width: calc(100vw - 12.5rem);
}

#menu:checked + .icon .menu {
  background: transparent;
}

#menu:checked + .icon .menu::before {
  transform: rotate(45deg);
}

.icon:hover .menu,
.icon:hover .menu::before,
.icon:hover .menu::after {
  background: #FC5185;
}

.icon .menu {
  top: 27px;
  left: 18px;
}

.icon .menu::before {
  top: -6px;
}

.icon .menu::after {
  top: 6px;
}

nav ul {
  list-style: none;
}

nav li, nav a {
  cursor: pointer;
  display: block;
  line-height: 60px;
  padding-left: 16px;
  white-space: nowrap;
}

nav li:hover, nav a:hover {
  color: #fff;
  background: #FC5185;
}

nav li:hover i, nav a:hover i, nav a:visited:hover {
  color: #fff;
}

nav a {
  text-decoration: none;
}

nav a:visited {
  color: #000;
}

nav i {
  font-size: 2.5vh;
  color: #9FB1BD;
  margin-right: 25px;
  vertical-align: text-bottom;
}

.iconContainer {
  border: 3px solid transparent;
}

.toggleContainer {
  height: 7.5vh;
  display: grid;
  place-items: center;
}

.toggle {
  height: 75%;
  width: 75%;
  background: var(--iconBg);
  border-style: solid;
  border-width: 2.5px;
  border-color: transparent;
  border-radius: 8px;
  cursor: pointer;
  display: grid;
  place-items: center;
  transition: all 0.4s;
}

.toggle:hover {
  border-color: var(--iconBorder);
}

#menu:checked ~ nav div div {
  width: 85%;
}

.toggle i {
  margin-right: 0;
  pointer-events: none;
  transition: 0.4s;
}

@media screen and (max-width: 500px) {
  #menu:checked ~ nav {
    box-shadow: rgba(17, 12, 46, 0.596) 0 0px 100px 0;
  }

  #menu:checked ~ main {
    width: 97%;
  }

  #menu:checked ~ .closure {
    display: flex;
    pointer-events: all;
  }
}
@media screen and (max-width: 320px) {
  .menu {
    background-color: #9FB1BD;
    position: fixed;
  }

  .icon .menu, .icon .menu::before, .icon .menu::after {
    background: #ececec;
  }

  nav {
    display: none;
    position: fixed;
  }

  main {
    width: 100%;
  }

  #menu:checked ~ main {
    width: 100%;
  }

  #menu:checked ~ nav {
    display: flex;
  }
}
/*Structure*/
/*Cover*/
@media screen and (max-width: 700px) {
  .cover--bgImage {
    height: 90vh;
  }

  .cover--text h3 {
    width: 50vw;
    font-size: 10px;
  }
}
:root {
  --generalBg: #f9fafb;
  --grayBg: #e7e7e7;
  --textColor: color: #040d21;
  --lighterColor: color: #222;
}

.wrap {
  /*margin-top: 2rem;
  margin-left: 3rem;
  margin-bottom: 2rem;*/
  transform-style: preserve-3d;
  transform: perspective(100rem);
  cursor: pointer;
}
.wrap .wrap--container {
  --rX: 0;
  --rY: 0;
  --bX: 50%;
  --bY: 80%;
  height: 100%;
  width: 100%;
  position: relative;
  padding: 4rem;
  border-radius: 25px;
  background-image: url("../../images/me/me-four.png");
  background-position: var(--bX) var(--bY);
  background-size: 30rem auto;
  transform: rotateX(calc(var(--rX) * 1deg)) rotateY(calc(var(--rY) * 1deg));
  transition: all 0.25s;
  display: flex;
  align-items: flex-end;
}
.wrap .wrap--container p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 2.2rem;
}
.wrap .wrap--container:hover {
  box-shadow: 0 0 3rem 0.5rem rgba(0, 0, 0, 0.2);
}
.wrap .wrap--container::before, .wrap .wrap--container::after {
  content: "";
  width: 2rem;
  height: 2rem;
  border: 1px solid #ebebeb;
  position: absolute;
  opacity: 0.3;
  z-index: 2;
  transition: 0.3s;
}
.wrap .wrap--container::before {
  top: 2rem;
  right: 2rem;
  border-bottom-width: 0;
  border-left-width: 0;
}
.wrap .wrap--container::after {
  bottom: 2rem;
  left: 2rem;
  border-top-width: 0;
  border-right-width: 0;
}

.wrap:hover .wrap--container::before, .wrap:hover .wrap--container::after {
  height: calc(100% - 4rem);
  width: calc(100% - 4rem);
}

.abs-site-link {
  position: fixed;
  bottom: 20px;
  left: 20px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.6rem;
}

.containerActive {
  transition: none;
}

.cover {
  min-height: 110vh;
  width: 100%;
  display: grid;
  place-items: center;
}

.cover--bgImage {
  z-index: -1;
  position: absolute;
  height: 125vh;
  width: 100%;
  filter: brightness(50%);
  background-image: url("../../../images/bg/golden-gate.jpeg");
  background-position: 50% 40%;
  transition: 0.4s;
}

.cover--bgImage--after {
  filter: brightness(25%);
}

.cover--text {
  color: #f9fafb;
  margin-bottom: 10vh;
  display: grid;
  place-items: center;
}
.cover--text h1 {
  font-size: min(10vw, 144px);
}
.cover--text h3 {
  letter-spacing: 0.35rem;
  font-size: 1.25vw;
  /*18px*/
  text-align: center;
}

@media screen and (max-width: 700px) {
  .cover--text h3 {
    display: none;
  }
}
.delimitation--svg {
  position: absolute;
  top: 92vh;
  z-index: -1;
}

.cover--about--me {
  height: 5rem;
  width: fit-content;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 40rem;
  color: #d3d3d3;
  text-decoration: none;
  transition: 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.cover--about--me p, .cover--about--me i {
  font-size: max(8px, 1rem);
}

.cover--about--me:hover {
  height: 6rem;
  top: 39rem;
  color: #ececec;
}

:root {
  --generalBg: #f9fafb;
  --grayBg: #e7e7e7;
  --textColor: color: #040d21;
  --lighterColor: color: #222;
}

.me--container {
  border: solid transparent;
  color: var(--textColor);
  height: 65vh;
  width: 100%;
  margin-top: 1rem;
  display: grid;
  place-items: center;
  justify-content: center;
}
.me--container .me--layout {
  border: solid transparent;
  height: 90%;
  width: 62%;
  padding-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  /*display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;*/
}
.me--container .me--layout .me--info {
  border: solid transparent;
  height: 100%;
  width: 100%;
  margin-right: 1rem;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}
.me--container .me--layout .me--info .me--title {
  border: solid transparent;
  transition: 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.me--container .me--layout .me--info .me--title h1 {
  border: solid transparent;
  font-size: 2.8rem;
  /*span {
      font-weight: lighter;
  }*/
}
.me--container .me--layout .me--info .me--title p {
  font-size: 1.2rem;
  color: #444;
}
.me--container .me--layout .me--info .me--caption {
  height: 80%;
  width: 80%;
  border: solid transparent;
  transition: 0.4s;
  align-self: center;
  color: #444;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.me--container .me--layout .me--info .me--links {
  border: solid transparent;
  height: 75%;
  width: 100%;
  z-index: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  /* I tried using another div to make the hover effect...
                  a {
                      height: 100%;
                      width: 100%;
                      border: solid transparent; // transparent; // violet;

                      color: var(--lighterColor);
                      text-decoration: none;
                      background: var(--grayBg);
                      border-radius: 8px;

                      padding: none;

                      background: cyan;

                      transition: .4s;

                      div {
                          border: solid transparent; // transparent; // lime;
                          height: 100%;
                          width: 100%;

                          color: var(--lighterColor);
                          text-decoration: none;
                          background: var(--grayBg);
                          border-radius: 8px;

                          transition: .4s;

                          display: grid;
                          place-items: center;

                          i {
                              font-size: clamp(1rem, 1.5rem, 2rem);
                              border: solid transparent; // transparent; // brown;
                              pointer-events: none;

                              position: absolute;

                              transition: .1s;
                          }
                      }
                  }

                  a:hover {
                      //transform: rotate(5deg) translateY(-5%);

                      color: var(--textColor);
                      //Add a shadow

                      div {
                          transform: rotate(5deg) translateY(-5%);
                          color: var(--textColor);
                      }
                  }
  */
  /*a:nth-child(1):hover {
      i {
          color: #c225a0;
          text-shadow: 0 0 30px #c225a0;
          border-color: #c225a0;
      }
  }

  a:nth-child(2):hover {
      i {
          color: #179df0;
          text-shadow: 0 0 30px #179df0;
          border-color: #179df0;
      }
  }

  a:nth-child(3):hover {
      i {
          color: #25d366;
          text-shadow: 0 0 30px #25d366;
          border-color: #25d366;
      }
  }

  a:nth-child(4):hover {
      i {
          color: #D61A1A;
          text-shadow: 0 0 30px #D61A1A;
          border-color: #D61A1A;
      }
  }*/
}
.me--container .me--layout .me--info .me--links a {
  height: 100%;
  width: 100%;
  border: var(--generalBg) solid;
  color: var(--lighterColor);
  text-decoration: none;
  border-radius: 8px;
  display: grid;
  place-items: center;
  transition: 0.4s;
}
.me--container .me--layout .me--info .me--links a i {
  font-size: 1.6rem;
  border: solid transparent;
  pointer-events: none;
  position: absolute;
  z-index: 1;
  transition: 0.1s;
}
.me--container .me--layout .me--info .me--links a hr {
  width: 1rem;
  height: 0.1rem;
  position: absolute;
  border: none;
  border-radius: 1rem;
  z-index: 2;
  margin-top: 3rem;
  transition: 0.4s;
}
.me--container .me--layout .me--info .me--links a div {
  height: inherit;
  width: inherit;
  background: var(--grayBg);
  border-radius: 4px;
  z-index: 0;
  transition: 0.4s;
}
.me--container .me--layout .me--info .me--links a:hover {
  transform: rotate(5deg) translateY(-5%);
  color: var(--textColor);
}
.me--container .me--layout .me--info .me--links a:hover i {
  transform: rotate(-5deg) translateY(5%);
}
.me--container .me--layout .me--info .me--links a:hover hr {
  filter: opacity(0);
}
.me--container .me--layout .me--info .me--links a:hover div {
  transform: rotate(-10deg) translateY(5%);
  box-shadow: rgba(17, 12, 46, 0.15) 0 48px 100px 0;
}
.me--container .me--layout .me--info .me--links .instagram {
  background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
}
.me--container .me--layout .me--info .me--links .twitter {
  background: linear-gradient(45deg, #00ffbd, #00e4cd, #00a8d5, #008ac8);
}
.me--container .me--layout .me--info .me--links .github {
  background: linear-gradient(45deg, #25d366, #6ffa1e);
}
.me--container .me--layout .me--info .me--links .mail {
  background: linear-gradient(45deg, #4c3f91, #9145b6, #ff5677);
}
.me--container .me--layout .me--wrap {
  border: solid transparent;
}

@media screen and (max-width: 850px) {
  .me--container .me--layout {
    grid-template-columns: none;
    grid-template-rows: repeat(2, 1fr);
  }
}
/*
    Variables and root selector
*/
:root {
  --generalBg: #f9fafb;
  --grayBg: #ececec;
  --textColor: color: #040d21;
  --lighterColor: color: #222;
}

/*
    Keyframes and animations
*/
@keyframes cid {
  0% {
    transform: translate(0% 0%);
  }
  20% {
    transform: translate(0% 5%);
  }
  40% {
    transform: translate(0% -5%);
  }
  60% {
    transform: translate(0% 2%);
  }
  80% {
    transform: translate(0% -2%);
  }
  100% {
    transform: translate(0% 0%);
  }
}
/*
    Actual Styles :/
*/
body {
  background: var(--generalBg);
  transition: 0.4s;
}

svg path {
  transition: 0.4s;
}

.description--container {
  height: 100vh;
  min-height: 60vh;
  width: 100%;
  color: var(--textColor);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
}
.description--container .description--content .description--content--container .description--content--rectangle {
  height: 3vh;
  width: 100%;
  position: absolute;
  margin-top: -1rem;
  z-index: -3;
  pointer-events: none;
  user-select: none;
  background: var(--grayBg);
  transition: 0.4s;
}
.description--container .description--content .description--content--container .description--content--text {
  height: 36rem;
  width: 100%;
  background: var(--grayBg);
  transition: 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.description--container .description--content .description--content--container .description--content--text .description--content--info {
  border: solid blueviolet;
  border: solid 4px var(--grayBg);
  transition: border 0.4s;
  height: 19%;
  width: 62%;
  /*58.9vw, 62%;*/
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.description--container .description--content .description--content--container .description--content--text .description--content--info p {
  color: var(--lighterColor);
  font-weight: 350;
  transition: 0.4s;
}
.description--container .description--content .description--content--container .description--content--text .description--content--cards {
  width: 62%;
  height: 70%;
  display: grid;
  grid-template: none/repeat(3, 1fr);
  grid-gap: 1.5rem;
}
.description--container .description--content .description--content--container .description--content--text .description--content--cards .card--container {
  width: 100%;
  display: grid;
  place-items: center;
}
.description--container .description--content .description--content--container .description--content--text .description--content--cards .card--container .card {
  border: solid transparent;
  width: 95%;
  height: 90%;
  text-decoration: none;
  background: #f9fafb;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.4s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.description--container .description--content .description--content--container .description--content--text .description--content--cards .card--container .card .card--bgImage {
  border: solid transparent;
  height: 35%;
  width: 90%;
  background-repeat: none;
  background-size: 100%;
  background-position: 50% 50%;
  border-radius: 8px;
}
.description--container .description--content .description--content--container .description--content--text .description--content--cards .card--container .card .card--one {
  background-image: url("../../images/project-images/drawcula.png");
}
.description--container .description--content .description--content--container .description--content--text .description--content--cards .card--container .card .card--two {
  background-image: url("../../images/project-images/soundify.png");
  background-size: 100%;
}
.description--container .description--content .description--content--container .description--content--text .description--content--cards .card--container .card .card--three {
  background-image: url("../../images/project-images/rgb-to-hex.png");
}
.description--container .description--content .description--content--container .description--content--text .description--content--cards .card--container .card .card--info {
  border: solid transparent;
  height: 60%;
  width: 90%;
  padding-top: 0.8rem;
  padding-bottom: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.description--container .description--content .description--content--container .description--content--text .description--content--cards .card--container .card .card--info .card--info--text {
  height: 70%;
}
.description--container .description--content .description--content--container .description--content--text .description--content--cards .card--container .card .card--info .card--info--text h2 {
  color: #040d21;
  margin-bottom: 1vh;
}
.description--container .description--content .description--content--container .description--content--text .description--content--cards .card--container .card .card--info .card--info--text p {
  color: #222;
  font-weight: 400;
  font-size: 0.9rem;
  text-align: justify;
}
.description--container .description--content .description--content--container .description--content--text .description--content--cards .card--container .card .card--info .card--info--link {
  color: #4169e1;
  font-size: 0.9rem;
}
.description--container .description--content .description--content--container .description--content--text .description--content--cards .card--container .card .card--info .card--info--link i {
  margin-left: 0.5rem;
}
.description--container .description--content .description--content--container .description--content--text .description--content--cards .card--container .card:hover {
  box-shadow: rgba(17, 12, 46, 0.15) 0 48px 100px 0;
  transform: rotate(2deg) translateY(-0.5%);
}
.description--container .description--content .description--content--container .description--content--text .description--content--cards .card--container .second--element .card--info .card--info--link span::after {
  content: " (Beta)";
}
.description--container .description--content .description--content--container .description--content--text .description--content--cards .card--container .third--element .card--info .card--info--link span::after {
  content: " 🤒";
}
.description--container .description--content .description--content--container .description--content--text .description--content--cards .currently-in-development {
  transition: 0.4s;
}
.description--container .description--content .description--content--container .description--content--text .description--content--cards .currently-in-development:hover {
  filter: brightness(70%);
}
.description--container .description--content .description--content--container .description--content--text .description--content--button {
  width: 62%;
  color: var(--lighterColor);
  text-decoration: none;
  transition: 0.4s;
}
.description--container .description--content .description--content--container .description--content--text .description--content--button i {
  margin-left: 0.5rem;
  transition: margin-left 0.4s;
}
.description--container .description--content .description--content--container .description--content--text .description--content--button:hover i {
  margin-left: 0.8rem;
}

@media screen and (min-width: 1250px) {
  .description--container .description--content .description--content--container .description--content--rectangle {
    height: 3vh;
    position: absolute;
    z-index: -3;
  }
  .description--container .description--content .description--content--container .description--content--text .description--content--cards .card .card--info .card--info--link {
    display: flex;
  }
}
@media screen and (max-width: 1250px) {
  .card--info {
    padding-top: 2px;
  }

  .description--content--rectangle {
    height: 3vh;
    position: absolute;
    z-index: -1;
  }
}
@media screen and (max-width: 1050px) {
  .description--content--cards {
    grid-gap: 3px;
  }

  .card--info--link {
    display: none;
  }
}
@media screen and (max-width: 850px) {
  .description--container .description--content .description--content--container .description--content--text {
    height: 80rem;
  }
  .description--container .description--content .description--content--container .description--content--text .description--content--info {
    height: 15%;
  }
  .description--container .description--content .description--content--container .description--content--text .description--content--cards {
    grid-template: repeat(3, 1fr)/none;
    height: 85%;
  }
  .description--container .description--content .description--content--container .description--content--text .description--content--cards .card {
    height: 20rem;
  }
  .description--container .description--content .description--content--container .description--content--text .description--content--cards .card .card--info {
    padding-top: 0.8rem;
  }
  .description--container .description--content .description--content--container .description--content--text .description--content--cards .card .card--info .card--info--link {
    display: flex;
  }
  .description--container .description--content .description--content--container .description--content--text .description--content--button {
    margin-top: 1.5rem;
    margin-bottom: 0.4rem;
  }
  .description--container .description--content .description--content--container .description--content--rectangle {
    height: 3vh;
    position: absolute;
    z-index: -1;
  }
}
@media screen and (max-width: 600px) {
  .description--container .description--content .description--content--container .description--content--text {
    height: 80rem;
  }
  .description--container .description--content .description--content--container .description--content--text .description--content--cards .card--container .card {
    height: 20rem;
  }
  .description--container .description--content .description--content--container .description--content--text .description--content--cards .card--container .second--element .card--info .card--info--link span::after {
    content: "";
  }
  .description--container .description--content .description--content--container .description--content--text .description--content--cards .card--container .third--element .card--info .card--info--link span::after {
    content: "";
  }
  .description--container .description--content .description--content--container .description--content--rectangle {
    height: 3vh;
    position: absolute;
    z-index: -1;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}

.invisible--div {
  pointer-events: none;
  user-select: none;
  filter: opacity(0);
}
.invisible--div h1 {
  font-size: 5rem;
}

.mainBody {
  height: fit-content;
  min-height: 300vh;
  width: 95.834vw;
  position: absolute;
  right: 0;
}

.delimitation {
  position: absolute;
  z-index: 4;
  width: 62%;
  height: 100%;
  right: 18.1vw;
  pointer-events: none;
}

/*# sourceMappingURL=general.css.map */
