//Modules
    //Common Modules
    @use "./common/navbar";
    @use "./common/responsive";

    //Functional Modules
    @use "./common/card";

    //Specific Modules
    @use "./structure/cover/cover";
    @use "./structure/body/me";
    @use "./structure/body/details";
    @use "./structure/body/reviews";
    @use "./structure/body/structure";
    @use "./structure/body/linkedin";

//Font
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-behavior: smooth;
}

.invisible--div, .invisible--div--responsive {
    pointer-events: none;
    user-select: none;
    filter: opacity(0);

    h1 {
        font-size: 5rem;
    }
}

.invisible--div--responsive {
    display: none;
}

.mainBody {
    //border: solid navy;

    height: fit-content;
    min-height: 300vh;
    width: calc(100vw - 4.166vw);

    position: absolute;
    right: 0;
}

@media screen and (max-width: 500px) {
    .mainBody {
        width: 100vw;
    }

    .invisible--div--responsive {
        color: transparent;
        display: inline;
    }
}

.delimitation {
    //border: solid lime;

    //display: none;

    position: absolute;
    z-index: 4;
    width: 62%;
    height: 70%;
    right: 18.1vw;

    pointer-events: none;
}