.cover {
    min-height: 110vh;
    width: 100%;

    display: grid;
    place-items: center;
}

    .cover--bgImage {
        z-index: -1;
        position: absolute;
        height: 125vh;
        width: 100%;

        filter: brightness(50%);

        background-image: url("../../../images/golden-gate/golden-gate.jpeg");
        background-position: 50% 40%;
        
        transition: .4s;
    }

        .cover--bgImage--after {
            filter: brightness(25%);
        }

    .cover--text {
        color: #f9fafb;

        margin-bottom: 10vh;
        
        display: grid;
        place-items: center;

        h1 {
            font-size: min(10vw, 144px);
        }

        h3 {
            letter-spacing: .35rem;
            font-size: 1.25vw; /*18px*/
            text-align: center;
        }
    }

        @media screen and (max-width: 700px) {
            .cover--text h3 {
                display: none;
            }
        }

        
.delimitation--svg {
    position: absolute;
    top: 92vh;

    z-index: -1;
}

    .cover--about--me {
        height: 5rem;
        width: fit-content;

        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: clamp(3rem, 4rem, 5rem);

        color: #d3d3d3;
        text-decoration: none;

        transition: height .4s;

        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        p, i {
            font-size: max(8px, 1rem);
        }
    }

    .cover--about--me:hover {
        //text-decoration: underline;
        height: 6rem;
        color: #ececec;
    }