/*
    Variables and root selector
*/

:root {
    --generalBg: #f9fafb;
    --grayBg: #ececec; //e7e7e7

    --textColor: color: #040d21;
    --lighterColor: color: #222;
}

/*
    Keyframes and animations
*/

@keyframes cid {
    0% {
        transform: translate(0% 0%);
    }
    
    20% {
        transform: translate(0% 5%);
    }

    40% {
        transform: translate(0% -5%);
    }

    60% {
        transform: translate(0% 2%);
    }

    80% {
        transform: translate(0% -2%);
    }

    100% {
        transform: translate(0% 0%);
    }
}


/*
    Actual Styles :/
*/

body {
    background: var(--generalBg);
    transition: .4s;
}

    svg path {
        transition: .4s;
    }



    

.description--container {
    height: 100vh;
    min-height: 60vh;
    width: 100%;

    color: var(--textColor);

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;

    .description--content {
        .description--content--container {
            .description--content--rectangle {
                height: 3vh;
                width: 100%;
        
                position: absolute;
                margin-top: -1rem;
                //top: 212.5vh;
        
                z-index: -3;
        
                pointer-events: none;
                user-select: none;
        
                background: var(--grayBg);
                transition: .4s;
            }

            .description--content--text {        
                height: 36rem;
                width: 100%;

                //Just in case we switched forms again: padding-bottom: 3rem;
        
                background: var(--grayBg);
        
                transition: .4s;
        
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;
        
                .description--content--info {
                    //border: solid blueviolet;
        
                    //border: solid 4px var(--grayBg);
                    transition: border .4s;
        
                    height: 19%;
                    width: 62%; /*58.9vw, 62%;*/
        
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: flex-start;
        
                    p {
                        color: var(--lighterColor);
                        font-weight: 350;
                        transition: .4s;
                    }
                }

                .description--content--cards {            
                    width: 62%;
                    height: 70%;
            
                    display: grid;
                    grid-template: none / repeat(3, 1fr);
                    grid-gap: 1.5rem;
            
                    //Styles
                    .card--container {
                        width: 100%;
            
                        display: grid;
                        place-items: center;
            
                        //Card
                        .card {
                            border: solid transparent /*coral*/;
                            width: 95%;
                            height: 90%;
            
                            text-decoration: none;
                            background: #f9fafb;
                            border-radius: 12px;
                            cursor: pointer;
            
                            transition: .4s;
            
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
            
            
                            //Background Image
                            .card--bgImage {
                                border: solid transparent;
                                height: 35%;
                                width: 90%;
            
                                background-repeat: none;
                                background-size: 100%;
                                background-position: 50% 50%;
                                border-radius: 8px;
                            }
            
                                .card--one {
                                    background-image: url("../../images/project-images/drawcula.png");
                                }
            
                                .card--two {
                                    background-image: url("../../images/project-images/soundify.png");
                                    background-size: 100%;
                                }
            
                                .card--three {
                                    background-image: url("../../images/project-images/rgb-to-hex.png");
                                }
            
                            
            
                            //Information related to the project
                            .card--info {
                                border: solid transparent;
                                height: 60%;
                                width: 90%;
            
                                padding-top: .8rem;
                                padding-bottom: .3rem;
            
                                display: flex;
                                flex-direction: column;
                                justify-content: space-around;
                                align-items: flex-start;
            
                                .card--info--text {
                                    height: 70%;
            
                                    h2 {
                                        color: #040d21;
                                        margin-bottom: 1vh;
                                    }
            
                                    p {
                                        color: #222;
                                        font-weight: 400;
                                        font-size: .9rem;
            
                                        text-align: justify;
                                    }
                                }    
            
                                .card--info--link {
                                    color: #4169e1;
                                    font-size: .9rem;
            
                                    i {
                                        margin-left: .5rem;
                                    }
                                }
                            }
                        }
            
                        //Card Extra styles
                        .card:hover {
                            box-shadow: rgba(17, 12, 46, 0.15) 0 48px 100px 0;
                            transform: rotate(2deg) translateY(-0.5%);
                        }
            
                        //Icons and emojis at the end of each one of the featured projects
                        .second--element {
                            .card--info {
                                .card--info--link {
                                    span::after {
                                        content: " (Beta)";
                                    }
                                }
                            }
                        }
            
                        .third--element {
                            .card--info {
                                .card--info--link {
                                    span::after {
                                        content: " 🤒";
                                    }
                                }
                            }
                        }
                    }
            
            
                    //Card container extra styles (disabling)
                    .currently-in-development {
                        transition: .4s;
                    }
            
                    .currently-in-development:hover {
                        filter: brightness(70%);
                    }
                }
    
            
                .description--content--button {
                    width: 62%;
            
                    color: var(--lighterColor);
                    text-decoration: none;
            
                    transition: .4s;
                    //margin-top: .5rem;
                    //margin-bottom: 1rem;
            
                    i {
                        margin-left: .5rem;
                        transition: margin-left .4s;
                    }
                }
            
                .description--content--button:hover {
                    i {
                        margin-left: .8rem;
                    }
                }
            }
        }
    }
}


@media screen and (min-width: 1250px) {
    .description--container {
        .description--content {
            .description--content--container {
                .description--content--rectangle {
                    height: 3vh;
            
                    position: absolute;
                    //top: 205.5vh;
            
                    z-index: -3;
                }

                .description--content--text {
                    .description--content--cards {
                        .card {
                            .card--info {
                                .card--info--link {
                                    display: flex;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1250px) {
    .card--info {
        padding-top: 2px;
    }

    .description--content--rectangle {
        height: 3vh;

        position: absolute;
        //top: 205.5vh;

        z-index: -1;
    }
}

@media screen and (max-width: 1050px) {
    .description--content--cards {
        grid-gap: 3px;
    }

    .card--info--link {
        display: none;
    }                
}

@media screen and (max-width: 850px) {
    .description--container {
        .description--content {
            .description--content--container {
                .description--content--text {
                    height: clamp(65rem, 80rem, 90rem);
            
                    .description--content--info {
                        height: 15%;
                    }
            
                    .description--content--cards {
                        grid-template: repeat(3, 1fr) / none;
            
                        height: 85%;
            
                        .card {
                            height: 20rem;
            
                            .card--info {
                                padding-top: .8rem;
            
                                .card--info--link {
                                    display: flex;
                                }
                            }
                        }
                    }

                    .description--content--button {
                        margin-top: 1.5rem;
                        margin-bottom: .4rem;
                    }
                }
            
                .description--content--rectangle {
                    height: 3vh;
            
                    position: absolute;
                    //top: 165vh;
            
                    z-index: -1;
                }
            }
        }
    }
}

@media screen and (max-width: 600px) {
    .description--container {
        .description--content {
            .description--content--container {
                .description--content--text {
                    height: clamp(70rem, 80rem, 90rem);  
                    
                    .description--content--cards {
                        .card--container {
                            $height: 15rem;

                            .card {
                                height: clamp($height + 2rem, $height + 5rem, $height + 10rem);
                            }
                
                            .second--element {
                                .card--info {
                                    .card--info--link {
                                        span::after {
                                            content: "";
                                        }
                                    }
                                }
                            }
                
                            .third--element {
                                .card--info {
                                    .card--info--link {
                                        span::after {
                                            content: "";
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                
                .description--content--rectangle {
                    height: 3vh;
            
                    position: absolute;
                    //top: 160.5vh;
            
                    z-index: -1;
                }
            }
        }
    }
}