:root {
    --generalBg: #f9fafb;
    --grayBg: #e7e7e7;

    --textColor: color: #040d21;
    --lighterColor: color: #222;
}

.me--container {
    border: solid red;
    color: var(--textColor);

    height: clamp(60vh, 65vh, 70vh);
    width: 100%;

    display: grid;
    place-items: center;
    
    .me--layout {
        border: solid plum;
        height: 100%;
        width: 62%;
        
        display: grid;
        grid-template-columns: repeat(2, 1fr);

        .me--info {
            border: solid navy;

            display: grid;
            grid-template-rows: repeat(3, 1fr);

            .me--title {
                border: solid blue;
            }

            .me--links {
                border: solid orange;
                height: 50%;
            }
        }

        .me--image {
            border: solid brown;
        }
    }
}